<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
     <h2 class="text-center">{{status}}</h2>
    <div class="card mt-5">
      <div class="card-header">
        <h4 class="text-center">Cambiar el password</h4>
      </div>
      <div class="card-body">
        <div class="d-flex flex-column w-25 mx-auto">
                <label for="usuario"><strong>Email </strong> </label>
                <input id="usuario" type="text">
                <label for="password"><strong>Password </strong> </label>
                <input id="password" type="password">
                <label for="password2"><strong>Repetir Password </strong> </label>
                <input id="password2" type="password">
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
             <a href="/products" class="btn btn-primary btn-lg btn-block">Cambiar Password</a>
          </div>
          <div class="col-md-6">
             <a href="http://localhost:8080" class="btn btn-danger btn-lg btn-block">Volver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>